@import '../../styles/variables';

.container {
  height: 38px;
  width: 378px;
  border: 1px solid $color-light-gray;
  border-radius: 8px;
  @include flex(flex, flex-start, center);
  gap: 3px;
  padding: 0 3px;

  .lang_item {
    width: 99px;
    height: 30px;
    background-color: $bg-template;
    border-radius: 6px;
    @include flex(flex, space-between, center);
    padding: 0 20px;
    border: 1px solid transparent;
    transition: $general-tansition;

    .text {
      font-family: $ff-poppins;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      color: $color-black;
    }

    &:hover {
      background-color: transparent;
      border: 1px solid $color-red;

      img {
        width: 18px;
        height: 18px;
        margin-top: 5px;
        content: url('../../public/images/red_cancel.png');
        cursor: pointer;
      }
    }
  }

  .default_text {
    font-family: $ff-poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: $color-gray;
    margin-left: 12px;
  }
}
