@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
/* ABSTRACTS */
html,
body {
  padding: 0;
  margin: 0;
  /* background: linear-gradient(180deg, #ffffff 0%, #e3f2f7 100%); */
  position: relative;
  width: 100%;
}

html::before,
body::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 910px;
  top: 0;
  left: 0;
  z-index: -1;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e3f2f7));
  background: linear-gradient(180deg, #ffffff 0%, #e3f2f7 100%);
}

html::after,
body::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 610px;
  top: 910px;
  left: 0;
  z-index: -1;
  background-color: #666666;
}
