@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
/* ABSTRACTS */
.container {
  width: 100%;
  height: 1393px;
  position: relative;
  /* Top Content */
  /* Center Content */
  /* Bottom Content */
}

.container .top_content {
  margin: 0;
  padding: 0;
}

.container .top_content .title {
  width: 486px;
  height: 160px;
  font-family: "Poppins", sans-serif;
  font-size: 72px;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: -0.03em;
  color: #000;
  margin-bottom: 0px;
}

.container .top_content .text {
  width: 1128px;
  height: 88px;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: -0.015em;
  color: #000;
  margin-top: 20px;
  margin-bottom: 60px;
}

.container .top_content .top_button {
  width: 177px;
  height: 60px;
  background-color: #7d4aea;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(125, 74, 234, 0.27);
          box-shadow: 0px 5px 10px 2px rgba(125, 74, 234, 0.27);
  border: none;
  border-radius: 12px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.03em;
  cursor: pointer;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.container .top_content .top_button:hover {
  -webkit-box-shadow: 0px 5px 10px 2px rgba(125, 74, 234, 0.4);
          box-shadow: 0px 5px 10px 2px rgba(125, 74, 234, 0.4);
}

.container .top_content .features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  gap: 27.27px;
}

.container .top_content .features span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #000;
}

.container .bottom_content {
  position: absolute;
  width: 100%;
  height: 139px;
  bottom: 0;
  left: 0;
  margin-bottom: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .bottom_content section {
  width: 120px;
}

.container .bottom_content section article {
  font-family: "Poppins", sans-serif;
  font-size: 72px;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 15px;
}

.container .bottom_content section span {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.03em;
  color: #fff;
  text-transform: capitalize;
}

.container .bottom_content .bottom_text {
  width: 344px;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.015em;
  color: #fff;
}
