@import 'variables';

.container {
  text-align: center;
  margin-bottom: 120px;

  .main_title {
    font-family: $ff-poppins;
    font-size: 36px;
    font-weight: 600;
    line-height: 48px;
    @include letter-spacing(-0.03em);
    color: $color-black;
  }

  .items {
    @include flex(flex, center, center);
    gap: 30px;
    margin-top: 50px;
  }
}
