@import 'variables';

.container {
  // margin-top: 21px;
  width: 100%;
  height: 36px;
  @include flex(flex, space-between, center);
  margin-bottom: 90px;

  .wrapper {
    @include flex(flex, space-between, center);
  }

  // logo
  .logo {
    @include flex(flex, center, center);

    .title {
      margin-left: 10px;
      font-family: $ff-inter;
      font-weight: 800;
      font-size: 16px;
      line-height: 18px;
      @include letter-spacing(-0.03em);
      color: $color-black;
    }
  }

  // links
  .links {
    @include flex(flex, center, center);
    gap: 30px;
    margin-left: 82px;

    .icon {
      display: flex;
      gap: 9.5px;
    }

    a {
      text-decoration: none;
      font-family: $ff-inter;
      color: $color-black;
      font-size: 16px;
      font-weight: 500;
      line-height: 18px;
      @include letter-spacing(-0.03em);
      text-transform: capitalize;
    }
  }

  // buttons
  .buttons {
    @include flex(flex, space-between, center);
    gap: 30px;

    button {
      background-color: transparent;
      border: none;
      font-family: $ff-inter;
      font-size: 16px;
      font-weight: 500;
      line-height: 18px;
      @include letter-spacing(-0.03em);
      cursor: pointer;
    }

    .right_btn {
      background-color: $color-purple;
      color: $color-white;
      width: 121px;
      height: 36px;
      border-radius: 12px;
      box-shadow: 0px 3px 7px 1px rgba(125, 74, 234, 0.2);
      transition: $general-transition;

      &:hover {
        box-shadow: 0px 3px 7px 1px rgba(125, 74, 234, 0.4);
      }
    }
  }
}
